# ASCII order
**/*.md
**/*.pyc
**/*.sql
**/*.swp
**/*.tmp
**/*~
**/.DS_Store
**/__pycache__/
.coverage
.direnv
.env
.envrc
.git/
.gitignore
.gitlab-ci.yml
.idea
.mypy_cache/
.pytest_cache/
.vscode/
Dockerfile
Makefile
bin/
docker/
env/
logs/
pytest.ini
schemas/
venv*/
**/node_modules
**/.yarn
