{% extends "base.html" %}

{% block title_content %}Xavier Tilley's Resume{% endblock %}
{% block breadcrumbs %}
  <nav class="breadcrumbs" aria-label="breadcrumbs">
    <a href="/">Home</a>
  </nav>
{% endblock %}
{% block main %}
  <article class="post">
    <header class="post-header">
      <div class="post-title row">
        <h1 class="cv-title">
          <a href="{% url 'portfolio:cv' %}">{{ cv.name }}</a>
        </h1>
        <address class="cv-contacts">
          <div class="col">
            <div>{{ cv.phone_number }}</div>
            <div>{{ cv.email }}</div>
            <div>{{ cv.website }}</div>
          </div>
        </address>
      </div>
      <p class="post-meta">{{ cv.tag_line }}</p>
    </header>

    <div class="post-content">
      <h2 id="technical-skills">Technical Skills
        <a href="#technical-skills" class="hanchor" arialabel="Anchor"></a>
      </h2>
      <table class="cv-skills">
        <tbody>
          {% for key, values in skills %}
            <tr>
              <td class="key">{{ key }}</td>
              <td class="val">{{ values|join:", " }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h2 id="experience">Experience
        <a href="#experience" class="hanchor" arialabel="Anchor"></a>
      </h2>
      {% for experience in experiences %}
        <div class="cv-experience">
          <div class="row lead">
            <span>{{ experience.company }}</span>
            <span>{{ experience.start_date|date:"F Y"}} - {{ experience.end_date|date:"F Y"|default:"Present"}}</span>
          </div>
          <div class="row sub">
            <span>{{ experience.job_title }}</span>
            <span>{{ experience.job_location }}</span>
          </div>
        </div>
        <ul>
          <li>{{ experience.job_description }}</li>
        </ul>
        <table class="cv-skills">
          <tbody>
            {% for key, values in experience.job_skills %}
              <tr>
                <td class="key">{{ key }}</td>
                <td class="val">{{ values|join:", " }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}

      <h2 id="education">Education
        <a href="#education" class="hanchor" arialabel="Anchor"></a>
      </h2>
      {% for education in educations %}
        <div class="cv-experience">
          <div class="row lead">
            <span>{{ education.school_name }}</span>
            <span>{{ education.start_date|date:"F Y"}} - {{ education.end_date|date:"F Y"|default:"Present"}}</span>
          </div>
          <div class="row sub">
            <span>{{ education.degree }}</span>
            <span>{{ education.location }}</span>
          </div>
        </div>
      {% endfor %}

      <h2 id="community">Community Invovlement
        <a href="#community" class="hanchor" arialabel="Anchor"></a>
      </h2>
      {% for ci in community_work %}
        <div class="cv-experience">
          <div class="row lead">
            <span>{{ ci.org_name }}</span>
            <span>{{ ci.start_date|date:"F Y"}} - {{ ci.end_date|date:"F Y"|default:"Present"}}</span>
          </div>
          <div class="row sub">
            <span>{{ ci.description }}</span>
            <span>{{ ci.location }}</span>
          </div>
        </div>
      {% endfor %}

      <h2 id="professional-interests">Professional Interests
        <a href="#professional-interests" class="hanchor" arialabel="Anchor"></a>
      </h2>
      <ul>
        <li>{{ cv.professional_interests|join:", " }}</li>
      </ul>

      <h2 id="personal-interests">Personal Interests
        <a href="#personal-interests" class="hanchor" arialabel="Anchor"></a>
      </h2>
      <ul>
        <li>{{ cv.personal_interests|join:", " }}</li>
      </ul>
    </div>
  </article>
{% endblock %}